DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mydb?schema=public"

AUTH_GOOGLE_ID="id"
AUTH_GOOGLE_SECRET="secret"

# openssl rand -hex 32
AUTH_SECRET="secret"
AUTH_URL="http://localhost:3000"

DISCORD_WEBHOOK_URL=""

NEXT_PUBLIC_MAIN_SITE_URL=""

APP_ENV="development"